<article class="fl rel ovh w_16 h_fill bg_title_black01 press">
    <h1 class="dis_block ovh w_80 center mt_2em">
        <i class="icon-im_andrew text_6em w_100 text_al_c c_white"></i>
    </h1>
    <ol class="ovh mt_3em text_al_c">
        <li class="dis_inbl w_4em h_06em bg_white bor_rad_03em mr_03em"></li>
        <li class="dis_inbl wh_06em bg_white bor_rad_50 mr_03em"></li>
        <li class="dis_inbl wh_06em bg_white bor_rad_50 mr_03em"></li>
    </ol>
    <nav class="module list press mt_1em">
        <h3 class="c_gray_ccc pl_3 line_h_38em font_YouYuan">功能列表</h3>
        <ul class="plug_nav bg_gray_333">
            <li data-code="jhgl" data-href="#/page1?t=1">
                <dl class="rel pl_3 ovh list_h_46em">
                    <dt class="fl ovh">
                        <i class="text_al_m text_14em icon-mn_baobiao"></i>
                        <span class="ml_05em text_14em font_YouYuan">功能栏目001</span>
                    </dt>
                    <dd class="abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="text_08em icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
            <li data-code="sbjk" data-href="#/page2?t=2">
                <dl class="rel pl_3 ovh list_h_46em">
                    <dt class="fl ovh">
                        <i class="text_al_m text_14em icon-mn_baobiao"></i>
                        <span class="ml_05em text_14em font_YouYuan">功能栏目002</span>
                    </dt>
                    <dd class="abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="text_08em icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
            <li data-code="sboee" data-href="#/page3">
                <dl class="rel pl_3 ovh list_h_46em">
                    <dt class="fl ovh">
                        <i class="text_al_m text_14em icon-mn_baobiao"></i>
                        <span class="ml_05em text_14em font_YouYuan">功能栏目003</span>
                    </dt>
                    <dd class="abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="text_08em icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
        </ul>
    </nav>
</article>
<article class="fr rel ovh w_84 h_in bg_title_sub02">
    <header class="fix left_au right_0 top_0 zindex_3 w_85 bg_title_black01" style="min-height: 120px;">
        <h2 class="line_h_3em text_al_c text_28em c_white font_FZYT_bold">AKjs前端框架</h2>
        <div class="abs top_0 right_2">
            <!--<button class="text_18em c_white icon-fk_zhongwenmoshi ml_05em mt_12em"></button>
            <button class="text_18em c_title_sub01 icon-fk_yingwenmoshi ml_05em mt_12em"></button>-->
            <button class="text_18em c_white icon-mn_shouye ml_05em mt_18em" data-href="/home"></button>
        </div>
    </header>
    <main></main>
    <footer class="fix bottom_0 right_0 w_84 ovh bg_title_sub02 h_24em">
        <p class="text_al_c c_gray_777 line_h_12em text_12em">© 版权所有  Akjs</p>
    </footer>
</article>
