<header class="pos_fix left_au right_0 top_0 z_index_3 w_85 bg_black" style="min-height: 120px;">
    <h2 class="line_h_3rem text_al_c fs_28rem c_white font_FZYT_bold">AKjs前端框架</h2>
    <div class="pos_abs top_0 right_2">
        <button class="fs_18rem c_white icon-mn_shouye ml_05rem mt_18rem" data-href="/page1"></button>
    </div>
</header>
<aside class="fl pos_rel ovh w_15 h_fill bg_black press">
    <h1 class="dis_block ovh w_80 center mt_2rem">
        <i class="icon-im_andrew fs_6rem w_100 text_al_c c_white"></i>
    </h1>
    <ol class="ovh mt_3rem text_al_c">
        <li class="dis_inbl w_4rem h_06rem bg_white bor_rad_03rem mr_03rem"></li>
        <li class="dis_inbl wh_06rem bg_white bor_rad_50 mr_03rem"></li>
        <li class="dis_inbl wh_06rem bg_white bor_rad_50 mr_03rem"></li>
    </ol>
    <nav class="plug_scroll module press mt_1rem">
        <h3 class="c_gray_ccc pl_3 line_h_38rem font_YouYuan">功能列表</h3>
        <ul class="plug_nav bg_gray_333">
            <li data-code="jhgl" data-href="#/page1?t=1">
                <dl class="pos_rel pl_3 ovh list_h_46rem">
                    <dt class="fl ovh">
                        <i class="vert_al_m fs_14rem icon-mn_baobiao"></i>
                        <span class="ml_05rem fs_14rem font_YouYuan">功能栏目001</span>
                    </dt>
                    <dd class="pos_abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="fs_08rem icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
            <li data-code="sbjk" data-href="#/page2?t=2">
                <dl class="pos_rel pl_3 ovh list_h_46rem">
                    <dt class="fl ovh">
                        <i class="vert_al_m fs_14rem icon-mn_baobiao"></i>
                        <span class="ml_05rem fs_14rem font_YouYuan">功能栏目002</span>
                    </dt>
                    <dd class="pos_abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="fs_08rem icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
            <li data-code="sboee" data-href="#/page3">
                <dl class="pos_rel pl_3 ovh list_h_46rem">
                    <dt class="fl ovh">
                        <i class="vert_al_m fs_14rem icon-mn_baobiao"></i>
                        <span class="ml_05rem fs_14rem font_YouYuan">功能栏目003</span>
                    </dt>
                    <dd class="pos_abs wm_94 left_0 c_gray_999 text_al_r">
                        <i class="fs_08rem icon-ln_qianjin_b"></i>
                    </dd>
                </dl>
            </li>
        </ul>
    </nav>
</aside>
<main class="fr pos_rel w_85"></main>
<footer class="pos_fix bottom_0 left_au right_0 w_84 ovh bg_theme02 h_24rem">
    <p class="text_al_c c_gray_777 line_h_12rem fs_12rem">© 版权所有  Akjs</p>
</footer>